<h1>Create Exercise Movement</h1>

<form action="/movements" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name"><br></br>

  <label for="instructions">Instructions:</label>
  <input type="text" name="instructions" id="instructions"><br></br>

  <label for="target_area">Target Area:</label>
  <input type="text" name="target_area" id="target_area"><br></br>

  <label for="reps">Number of Reps:</label>
  <input type="text" name="reps" id="reps"><br></br>

  <label for="modification">Modification</label>
  <input type="text" name="modification" id="modification"><br></br>

  <label for="challenge">Challenge</label>
  <input type="text" name="challenge" id="challenge"><br></br>

  <label>Select which of your workout routines should incorporate this new exercise movement:</label><br></br>

  <% current_user.routines.each do |routine| %>
    <input type="checkbox" name="movement[routine_ids][]" value="<%= routine.id %>" id="<%= routine.name %>"><%= routine.name %></input>
  <% end %>

  <br></br>

  <input type="submit" value="Create Movement">
</form>
