<h1>Create a New Exercise Movement!</h1>

<form action="/movements" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="movement[name]" id="name"><br></br>

  <label for="instructions">Instructions:</label>
  <textarea type="text" name="movement[instructions]" id="instructions"></textarea><br></br>

  <label for="target_area">Target Area:</label>
  <input type="text" name="movement[target_area]" id="target_area"><br></br>

  <label for="reps">Reps:</label>
  <input type="text" name="movement[reps]" id="reps"><br></br>

  <label for="modification">Modification:</label>
  <input type="text" name="movement[modification]" id="modification"><br></br>

  <label for="challenge">Challenge:</label>
  <input type="text" name="movement[challenge]" id="challenge"><br></br>

</form>
