<h1>Edit Workout Routine</h1>

<% if flash.has?(:message) %>
  <p><strong><%= flash[:message] %></strong></p>
<% end %>

<form action="/routines/<%= @routine.generate_slug %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="PATCH">
</form>
