<h3>Personalized Workout Plans Designed by <%= @user.name %>:</h3>

<% @user.routines.each do |routine| %>
  <li><a href="/routines/<%= routine.generate_slug %>"><%= routine.name %></a></li>
<% end %>
