<h3>Welcome to the Personalized Workout Planner!</h3>
<p><strong>Already a member? <a href="/login">Log In here!</a></strong></p>
<p><strong>New to Movement Mixer? <a href="/signup">Register now!</a></strong></p>
